<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/images/favicon/apple-touch-icon.png"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/images/favicon/favicon.ico"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/images/favicon/android-chrome-192x192.png"
    />
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/assets/css/reset.css" />
    <link rel="stylesheet" href="/assets/css/base.css" />
    <link rel="stylesheet" href="/assets/css/home.css" />
    <title>Home | Minimalist</title>
  </head>
  <body>
    <!-- Start header -->
    <div class="container container-padding home">
      <div class="header-pre-wrapper">
        <header class="header is--fixed">
          <div class="wrapper header-wrapper">
            <div class="header-logo">
              <img
                src="/assets/images/header/header-logo.svg"
                alt="header-logo"
                class="header-logo__img"
              />
            </div>
            <div class="header-right">
              <div
                id="menu-btn"
                class="menu-bar-btn"
                data-bs-toggle="offcanvas"
                data-bs-target="#header-sidebar"
              >
                <button class="top-button">
                  <i class="fa-solid fa-bars"></i>
                </button>
              </div>
              <nav class="header-nav">
                <ul class="header-nav__list">
                  <li class="header-nav__item">
                    <a class="header-nav__link" href="#">Home</a>
                  </li>
                  <li class="header-nav__item">
                    <a class="header-nav__link" href="#">Product</a>
                  </li>
                  <li class="header-nav__item">
                    <a class="header-nav__link" href="#">About us</a>
                  </li>
                </ul>
                <div class="header-search">
                  <button class="header-search__btn">
                    <img
                      src="/assets/images/header/search.svg"
                      alt="search-icon"
                      class="header-search__img"
                    />
                  </button>
                  <input
                    type="text"
                    placeholder="Search"
                    class="header-search__input"
                    name="search"
                    id="search"
                  />
                </div>
              </nav>
              <div class="header-group">
                <div class="header-group__btn favorites">
                  <a href="#" title="favorites" class="header-group__link">
                    <img src="/assets/images/header/favorite.svg" alt="" />
                  </a>
                </div>
                <div class="header-group__btn">
                  <a href="#" title="Bag item: " class="header-group__link">
                    <div class="header-group__bag">
                      <img src="/assets/images/header/bag.svg" alt="" />
                      <span>9+</span>
                    </div>
                  </a>
                </div>
              </div>
              <div class="header-login">
                <div
                  class="header-group__btn d-flex justify-content-center align-items-center"
                >
                  <a
                    href="login.html"
                    title="login"
                    class="header-group__link d-inline-block"
                    style="width: 2.7rem; height: 2.7rem"
                  >
                    <img
                      src="/assets/images/header/person.png"
                      alt=""
                      class="obj-cover"
                      class="pre-avatar"
                    />
                    <img src="" alt="Avatar" class="avatar-account" />
                  </a>
                </div>
              </div>
              <div class="header-profile">
                <div class="header-profile__wrapper">
                  <div href="#" class="header-profile__content">
                    <a href="" class="header-profile__link">
                      <p class="header-profile__name">Phan Nghi</p>
                      <img
                        src="/assets/images/header/avatar/sulyyoon.jpg"
                        alt=""
                        class="header-profile__img"
                        width="30px"
                        height="30px"
                        style="border-radius: 100%"
                      />
                    </a>
                    <div class="header-profile__dropdown">
                      <div class="header-dropdown__content">
                        <nav class="header-dropdown__nav">
                          <ul class="header-dropdown__list">
                            <li class="header-dropdown__item">
                              <a href="#" class="header-dropdown__link"
                                >Profile</a
                              >
                            </li>
                            <li class="header-dropdown__item">
                              <a href="#" class="header-dropdown__link"
                                >Order</a
                              >
                            </li>
                            <li class="header-dropdown__item">
                              <a href="#" class="header-dropdown__link"
                                >Favorite</a
                              >
                            </li>
                            <li class="header-dropdown__item">
                              <a href="#" class="header-dropdown__link"
                                >Settings</a
                              >
                            </li>
                            <li class="header-dropdown__item">
                              <a href="#" class="header-dropdown__link"
                                >Logout</a
                              >
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="offcanvas offcanvas-end offcanvas-lg"
              id="header-sidebar"
            >
              <div class="offcanvas-header">
                <div class="d-flex gap-4 align-items-center">
                  <img
                    src="/assets/images/header/avatar/sulyyoon.jpg"
                    alt=""
                    class="header-profile__img"
                    width="40px"
                    height="40px"
                    style="border-radius: 100%; object-fit: cover"
                  />
                  <h3 class="offcanvas-title">Hi, Phan</h3>
                </div>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="offcanvas"
                ></button>
              </div>
              <div class="offcanvas-body">
                <div class="sidebar-list">
                  <div class="sidebar-item">
                    <a href="index.html" class="sidebar-link">Product</a>
                  </div>
                  <div class="sidebar-item">
                    <a href="home.html" class="sidebar-link">Home</a>
                  </div>
                </div>
                <button
                  class="btn-base btn-solid mt-4"
                  type="button"
                  style="width: 10rem; padding: 0.5rem;height: 3.5rem; border-radius: 10rem"
                >
                  <a href="login.html" class="text-white fz-16">Sign in</a>
                </button>
                <div class="sidebar-group">
                  <div class="sidebar-group-item">
                    <a href="#" class="sidebar-group-link">
                      <div class="sidebar-group-icon">
                        <img src="/assets/images/header/favorite.svg" alt="">
                      </div>
                      <p>Favorites</p>
                    </a>
                  </div>
                  <div class="sidebar-group-item">
                    <a href="bag.html" class="sidebar-group-link">
                      <div class="sidebar-group-icon">
                        <img src="/assets/images/header/bag.svg" alt="">
                      </div>
                      <p>Bags</p>
                    </a>
                  </div>
                  <div class="sidebar-group-item">
                    <a href="#" class="sidebar-group-link">
                      <div class="sidebar-group-icon">
                        <img src="/assets/images/payment/delivery-home.svg" alt="">
                      </div>
                      <p>Orders</p>
                    </a>
                  </div>
                  <div class="sidebar-group-item">
                    <a href="#" class="sidebar-group-link">
                      <div class="sidebar-group-icon">
                        <img src="/assets/images/header/help.png" alt="">
                      </div>
                      <p>Help</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
      </div>
    </div>
    <!-- End header -->

    <!-- Carousel -->
    <div
      id="demo"
      class="carousel slide carousel-fade wrapper px-2"
      style="max-width: 160rem"
      data-bs-ride="carousel"
    >
      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#demo"
          data-bs-slide-to="0"
          class="active"
        ></button>
        <button
          type="button"
          data-bs-target="#demo"
          data-bs-slide-to="1"
        ></button>
        <button
          type="button"
          data-bs-target="#demo"
          data-bs-slide-to="2"
        ></button>
        <button
          type="button"
          data-bs-target="#demo"
          data-bs-slide-to="3"
        ></button>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <img
            src="https://www.ikea.com/global/en/images/PH_194970_1_0365d5066a.jpg?f=g"
            alt=""
            class="d-block w-100"
          />
          <div class="carousel-caption">
            <p>Explore a colourful home</p>
            <h3 class="h-m">Thinking beyond the (storage) box</h3>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img
            src="/assets/images/home/adam-winger.jpg"
            alt=""
            class="d-block w-100"
          />
          <div class="carousel-caption">
            <p>Country living</p>
            <h3 class="h-m">A visit to Swedish farmhouse</h3>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img
            src="https://images.unsplash.com/photo-1606744888344-493238951221?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"
            alt=""
            class="d-block w-100"
          />
          <div class="carousel-caption">
            <p>Vintage is beautiful!!</p>
            <h3 class="h-m">Design dispatches straight from the heart</h3>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img
            src="https://images.unsplash.com/photo-1618221381711-42ca8ab6e908?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80"
            alt=""
            class="d-block w-100"
          />
          <div class="carousel-caption">
            <p>Livingroom in the future</p>
            <h3 class="h-m">Design dispatches straight from the heart</h3>
          </div>
        </div>
      </div>

      <!-- Left and right controls/icons -->
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#demo"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon btn-control"></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#demo"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon btn-control"></span>
      </button>
    </div>
    <!-- End Carousel -->

    <!-- Start shop now-->
    <div class="wrapper home">
      <section>
        <div class="col-12 shop">
          <h1 class="shop-title">MILIST</h1>
          <p class="shop-text">Beautify the world inside your home</p>
          <button class="btn-base btn-solid shop-btn">
            <a href="index.html" class="text-white">Shop now</a>
          </button>
        </div>
      </section>
      <!-- End shop now-->

      <!-- Start Grid image -->
      <section class="section-top">
        <div class="grid-container">
          <img
            src="/assets/images/home/Low+Chair+Gropius.jpg"
            alt=""
            class="obj-cover"
          />
          <img src="/assets/images/home/lamp.jpeg" alt="" class="obj-cover" />
          <img
            src="/assets/images/home/chair-with-book.png"
            alt=""
            class="obj-cover"
          />
        </div>
      </section>
      <!-- End Grid image -->

      <!-- Start video vintage -->
      <section class="section-video">
        <div class="row">
          <div class="col-12 sol-sm-12 col-lg-12 portrait-col-1">
            <div class="image-wrapper video-wrapper">
              <video
                src="https://www.ikea.com/global/en/images/nytillverkadstart_36b1f93d51.mp4"
                id="video-nytillverkad"
                preload="auto"
                playsinline
                autoplay
                muted
                loop
              ></video>
              <div class="overlay">
                <div class="overlay-caption">
                  <p class="fw-5">Nytillverkad collection</p>
                  <h1 class="fw-6 h-m">
                    Vintage designs from our archive, back again!
                  </h1>
                </div>
              </div>
              <button id="toggleBtn" class="overlay-btn">
                <i class="fa-solid fa-pause toggle-icon"></i>
              </button>
            </div>
          </div>
        </div>
      </section>
      <!-- End video vintage -->

      <!-- Start col-2 -->
      <section>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 portrait-col-2">
            <div class="image-wrapper">
              <img
                src="https://www.ikea.com/global/en/images/Cecilia_Home_visit2_36040_3cf31c6015_0aca2b62b8.jpg?f=sg"
                alt=""
              />
              <div class="overlay">
                <div class="overlay-caption">
                  <p class="fw-5">Family apartment in Sweden</p>
                  <h1 class="fw-6 h-m">Package with personality</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 portrait-col-2">
            <div class="image-wrapper">
              <img
                src="https://www.ikea.com/global/en/images/HFRD_SUSTA_COLLAB_IKEA_and_Daren_Todd_portrait03_2c23d0f154.jpg?f=sg"
                alt=""
              />
              <div class="overlay">
                <div class="overlay-caption">
                  <p class="fw-5">Designed wi th artist Daren Todd</p>
                  <h1 class="fw-6 h-m">A smart smal place</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End col-2 -->

      <!-- Start col-1 -->
      <section>
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="drop-wrapper drop-container">
              <div class="drop-image-container">
                <img
                  src="https://www.ikea.com/global/en/images/FROSET_8aab389a69.jpg?f=xl"
                  alt=""
                />
              </div>
              <div class="content-container">
                <p class="fw-5 text-white mb-3 subtitle">
                  You don't know too much about us?
                </p>
                <h1
                  class="h-m text-white"
                  style="max-width: 9ch; line-height: 1.2"
                >
                  Let's see
                  <a href="#" class="text-white">The Milist catalog! </a>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End col-1 -->

      <!-- Start flashback -->
      <section class="flashback">
        <div class="row">
          <div class="col-12 col-sm-12">
            <div class="flashback-container">
              <div class="flashback-content">
                <p class="text-white subtitle">The 1973 MILIST catalogue</p>
                <h1 style="max-width: 8ch" class="h-m text-white title">
                  Design flasback
                </h1>
              </div>
              <div class="flashback-video">
                <div class="flashback-video-holder">
                  <div class="flashback-video-container video-wrapper">
                    <video
                      src="https://www.ikea.com/global/en/images/catalogueflip_1_e6a7d7ebe9_413192f911.mp4"
                      loop
                      playsinline
                      preload="auto"
                      autoplay
                      muted
                      class="video-fulwidth"
                    ></video>
                    <button
                      id="toggleBtn"
                      class="overlay-btn"
                      style="background-color: black; right: 2rem"
                    >
                      <i class="fa-solid fa-pause toggle-icon text-white"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End flashback -->

      <!-- Start worldwide -->
      <section>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 portrait-col-2">
            <div class="image-wrapper">
              <img
                src="https://www.ikea.com/global/en/images/japan_poster3_25_f73a263dda_5180172527_4d9f9f6567.jpg?f=sg"
                alt=""
              />
              <div class="overlay overlay-transparent">
                <div class="overlay-caption">
                  <p class="fw-5">MILIST around the world</p>
                  <h1 class="fw-6 h-m">Big in Japan</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 portrait-col-2">
            <div class="image-wrapper">
              <img
                src="https://www.ikea.com/global/en/images/portugal_poster_6771f4b936.png?f=sg"
                alt=""
              />
              <div class="overlay overlay-transparent">
                <div class="overlay-caption">
                  <p class="fw-5 text-dark">MILIST around the world</p>
                  <h1 class="fw-6 h-m text-dark">Olá, Portugal!</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End worldwide -->

      <!-- Start col-1 -->
      <section>
        <div class="row">
          <div class="col-12 col-md-12">
            <div
              class="drop-wrapper drop-container"
              style="background-color: #17814c"
            >
              <div class="drop-image-container">
                <img
                  src="https://images.unsplash.com/photo-1567016546367-c27a0d56712e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
                  alt=""
                  style="object-position: center right"
                />
              </div>
              <div class="content-container">
                <p class="fw-5 text-white mb-3 subtitle">
                  Say hej and yum to...
                </p>
                <h1 class="h-m text-white" style="max-width: 10ch">
                  <a href="#" class="text-white"
                    >Our new plant-based vision!
                  </a>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End col-1 -->

      <!-- Start col-2 -->
      <section>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 portrait-col-2">
            <div class="image-wrapper">
              <img
                src="https://www.ikea.com/global/en/images/trashcollectionstartpage_154a5a9baf_6dd5eec31d.jpeg?f=sg"
                alt=""
              />
              <div class="overlay">
                <div class="overlay-caption">
                  <p class="fw-5">MILIST VietNam</p>
                  <h1 class="fw-6 h-m">The Vi Collection</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 portrait-col-2">
            <div class="image-wrapper">
              <img src="/assets/images/home/BESPOKE.png" alt="" />
              <div class="overlay">
                <div class="overlay-caption">
                  <p class="fw-5">Bespoke design</p>
                  <h1 class="fw-6 h-m">Custom furniture with bespoke</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End col-2 -->
    </div>
    <script src="/assets/js/home.js"></script>
  </body>
</html>
