<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      href="/assets/images/favicon/android-chrome-192x192.png"
    />
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/assets/css/reset.css" />
    <link rel="stylesheet" href="/assets/css/base.css" />
    <link rel="stylesheet" href="/assets/css/productDetail.css" />
    <title>Furniture | Minimalist</title>
  </head>
  <body>
    <div class="container container-padding">
      <!-- Start header -->
      <div class="header-pre-wrapper">
        <header class="header">
          <div class="wrapper header-wrapper">
            <div class="header-logo">
              <img
                src="/assets/images/header/header-logo.svg"
                alt="header-logo"
                class="header-logo__img"
              />
            </div>
            <div class="header-right">
              <div
                id="menu-btn"
                class="menu-bar-btn"
                data-bs-toggle="offcanvas"
                data-bs-target="#header-sidebar"
              >
                <button class="top-button">
                  <i class="fa-solid fa-bars"></i>
                </button>
              </div>
              <nav class="header-nav">
                <ul class="header-nav__list">
                  <li class="header-nav__item">
                    <a class="header-nav__link" href="#">Home</a>
                  </li>
                  <li class="header-nav__item">
                    <a class="header-nav__link" href="#">Product</a>
                  </li>
                  <li class="header-nav__item">
                    <a class="header-nav__link" href="#">About us</a>
                  </li>
                </ul>
                <div class="header-search">
                  <button class="header-search__btn">
                    <img
                      src="/assets/images/header/search.svg"
                      alt="search-icon"
                      class="header-search__img"
                    />
                  </button>
                  <input
                    type="text"
                    placeholder="Search"
                    class="header-search__input"
                    name="search"
                    id="search"
                  />
                </div>
              </nav>
              <div class="header-group">
                <div class="header-group__btn favorites">
                  <a href="#" title="favorites" class="header-group__link">
                    <img src="/assets/images/header/favorite.svg" alt="" />
                  </a>
                </div>
                <div class="header-group__btn">
                  <a href="#" title="Bag item: " class="header-group__link">
                    <div class="header-group__bag">
                      <img src="/assets/images/header/bag.svg" alt="" />
                      <span>9+</span>
                    </div>
                  </a>
                </div>
              </div>
              <div class="header-login">
                <div
                  class="header-group__btn d-flex justify-content-center align-items-center"
                >
                  <a
                    href="login.html"
                    title="login"
                    class="header-group__link d-inline-block"
                    style="width: 2.7rem; height: 2.7rem"
                  >
                    <img
                      src="/assets/images/header/person.png"
                      alt=""
                      class="obj-cover"
                      class="pre-avatar"
                    />
                    <img src="" alt="Avatar" class="avatar-account" />
                  </a>
                </div>
              </div>
              <div class="header-profile">
                <div class="header-profile__wrapper">
                  <div href="#" class="header-profile__content">
                    <a href="" class="header-profile__link">
                      <p class="header-profile__name">Phan Nghi</p>
                      <img
                        src="/assets/images/header/avatar/sulyyoon.jpg"
                        alt=""
                        class="header-profile__img"
                        width="30px"
                        height="30px"
                        style="border-radius: 100%"
                      />
                    </a>
                    <div class="header-profile__dropdown">
                      <div class="header-dropdown__content">
                        <nav class="header-dropdown__nav">
                          <ul class="header-dropdown__list">
                            <li class="header-dropdown__item">
                              <a href="#" class="header-dropdown__link"
                                >Profile</a
                              >
                            </li>
                            <li class="header-dropdown__item">
                              <a href="#" class="header-dropdown__link"
                                >Order</a
                              >
                            </li>
                            <li class="header-dropdown__item">
                              <a href="#" class="header-dropdown__link"
                                >Favorite</a
                              >
                            </li>
                            <li class="header-dropdown__item">
                              <a href="#" class="header-dropdown__link"
                                >Settings</a
                              >
                            </li>
                            <li class="header-dropdown__item">
                              <a href="#" class="header-dropdown__link"
                                >Logout</a
                              >
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="offcanvas offcanvas-end offcanvas-lg"
              id="header-sidebar"
            >
              <div class="offcanvas-header">
                <div class="d-flex gap-4 align-items-center">
                  <img
                    src="/assets/images/header/avatar/sulyyoon.jpg"
                    alt=""
                    class="header-profile__img"
                    width="40px"
                    height="40px"
                    style="border-radius: 100%; object-fit: cover"
                  />
                  <h3 class="offcanvas-title">Hi, Phan</h3>
                </div>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="offcanvas"
                ></button>
              </div>
              <div class="offcanvas-body">
                <div class="sidebar-list">
                  <div class="sidebar-item">
                    <a href="index.html" class="sidebar-link">Product</a>
                  </div>
                  <div class="sidebar-item">
                    <a href="home.html" class="sidebar-link">Home</a>
                  </div>
                </div>
                <button
                  class="btn-base btn-solid mt-4"
                  type="button"
                  style="
                    width: 10rem;
                    padding: 0.5rem;
                    height: 3.5rem;
                    border-radius: 10rem;
                  "
                >
                  <a href="login.html" class="text-white fz-16">Sign in</a>
                </button>
                <div class="sidebar-group">
                  <div class="sidebar-group-item">
                    <a href="#" class="sidebar-group-link">
                      <div class="sidebar-group-icon">
                        <img src="/assets/images/header/favorite.svg" alt="" />
                      </div>
                      <p>Favorites</p>
                    </a>
                  </div>
                  <div class="sidebar-group-item">
                    <a href="bag.html" class="sidebar-group-link">
                      <div class="sidebar-group-icon">
                        <img src="/assets/images/header/bag.svg" alt="" />
                      </div>
                      <p>Bags</p>
                    </a>
                  </div>
                  <div class="sidebar-group-item">
                    <a href="#" class="sidebar-group-link">
                      <div class="sidebar-group-icon">
                        <img
                          src="/assets/images/payment/delivery-home.svg"
                          alt=""
                        />
                      </div>
                      <p>Orders</p>
                    </a>
                  </div>
                  <div class="sidebar-group-item">
                    <a href="#" class="sidebar-group-link">
                      <div class="sidebar-group-icon">
                        <img src="/assets/images/header/help.png" alt="" />
                      </div>
                      <p>Help</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
      </div>
      <!-- End header -->

      <div class="product-pre-wrapper">
        <div class="wrapper">
          <div class="product-container">
            <div class="container p-3">
              <div class="row">
                <div class="row product-left col-lg-8 col-xxl-9">
                  <div class="product-content col-md-5">
                    <h3 class="product-headline fz-15 fw-6">
                      Products /
                      <span class="product-category">Chair</span>
                    </h3>
                    <div class="product-name fw-5">Grava Chair</div>
                    <div class="product-desc fz-15 fw-4">
                      Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                      aut odit aut fugit, sed quia consequuntur ma
                    </div>
                    <div class="product-size">
                      <h3 class="product-size__title fz-18 fw-5">
                        Product specifications:
                      </h3>
                      <ul class="product-size__list fz-15 fw-4">
                        <li class="product-size__item">
                          Height:
                          <span class="product-size__measure">130</span>cm
                        </li>
                        <li class="product-size__item">
                          Weight:
                          <span class="product-size__measure">40</span>cm
                        </li>
                      </ul>
                    </div>
                    <div class="product-image__list">
                      <div class="product-image__item">
                        <img
                          src="/assets/images/productDetail/garava black 1.png"
                          alt=""
                          class="obj-cover"
                        />
                      </div>
                      <div class="product-image__item">
                        <img
                          src="/assets/images/productDetail/garava black 2.png"
                          alt=""
                          class="obj-cover"
                        />
                      </div>
                      <div class="product-image__item">
                        <img
                          src="/assets/images/productDetail/garava black 3.png"
                          alt=""
                          class="obj-cover"
                        />
                      </div>
                      <div class="product-image__item">
                        <img
                          src="/assets/images/productDetail/garava white 1.png"
                          alt=""
                          class="obj-cover"
                        />
                      </div>
                      <div class="product-image__item">
                        <img
                          src="/assets/images/productDetail/garava white 2.png"
                          alt=""
                          class="obj-cover"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="product-main-image col-md-7">
                    <img
                      src="/assets/images/productDetail/garava black 1.png"
                      alt=""
                      class="obj-cover obj-po-center"
                    />
                  </div>
                </div>
                <div class="product-right col-lg-4 col-xxl-3">
                  <div class="product-right__wrapper">
                    <span class="fz-16 fw-5 text-color-accent mb-4"
                      >Best Seller</span
                    >
                    <div class="product-price fz-18 fw-5">1.500.000đ</div>
                    <div class="product-rating">
                      <a href="#" class="product-rating__link">
                        <div class="product-rating__wrapper">
                          <h3 class="product-rating__count mb-0">
                            <p>Reviews</p>
                            <span>(1220)</span>
                          </h3>
                          <div class="product-rating__average-stars">
                            <div class="product-rating__average">4.9</div>
                            <div class="product-rating__stars">
                              <div class="product-rating__star">
                                <img
                                  src="/assets/images/productDetail/star.svg"
                                  class="obj-cover"
                                  alt=""
                                />
                              </div>
                              <div class="product-rating__star">
                                <img
                                  src="/assets/images/productDetail/star.svg"
                                  class="obj-cover"
                                  alt=""
                                />
                              </div>
                              <div class="product-rating__star">
                                <img
                                  src="/assets/images/productDetail/star.svg"
                                  class="obj-cover"
                                  alt=""
                                />
                              </div>
                              <div class="product-rating__star">
                                <img
                                  src="/assets/images/productDetail/star.svg"
                                  class="obj-cover"
                                  alt=""
                                />
                              </div>
                              <div class="product-rating__star">
                                <img
                                  src="/assets/images/productDetail/star.svg"
                                  class="obj-cover"
                                  alt=""
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="product-quantity">
                      <div class="product-quantity__container">
                        <div
                          class="product-quantity__title fz-16 fw-5 text-gray"
                        >
                          Quantity:
                        </div>
                        <div class="product-quantity__group">
                          <button class="product-quantity__button">
                            <span class="fz-20 fw-5" style="color: white"
                              >-</span
                            >
                          </button>
                          <input
                            class="product-quantity__input fz-16 fw-5"
                            type="text"
                            inputmode="numeric"
                            min="1"
                            value="1"
                          />
                          <button class="product-quantity__button">
                            <span class="fz-20 fw-5" style="color: white"
                              >+</span
                            >
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="product-color">
                      <div
                        class="product-color__title fz-16 fw-5 text-gray pb-3"
                      >
                        Color:
                      </div>
                      <div class="product-color__group">
                        <div class="product-color_item">
                          <img
                            src="/assets/images/productDetail/garava black 1.png"
                            alt=""
                            class="product-color__img obj-cover"
                          />
                        </div>
                        <div class="product-color_item">
                          <img
                            src="/assets/images/productDetail/garava white 1.png"
                            alt=""
                            class="product-color__img obj-cover"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="product-action">
                      <button class="btn-base btn-solid mb-3">
                        Add to cart
                      </button>
                      <button class="btn-base btn-white">Favotite</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Sản phẩm tương tự -->
          <div class="carousel-wrapper">
            <div
              id="carouselSimilarProduct"
              class="carousel"
              data-bs-ride="carousel"
            >
              <div class="container-fluid">
                <div class="carousel-header">
                  <h3 class="carousel-title">You Might Also Like</h3>
                  <div class="carousel-action">
                    <button
                      class="carousel-control-prev"
                      type="button"
                      data-bs-target="#carouselSimilarProduct"
                      data-bs-slide="prev"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="25"
                        height="24"
                        viewBox="0 0 25 24"
                        fill="none"
                      >
                        <path
                          d="M16.0251 18.9662L9.05811 12.0002L16.0251 5.0332"
                          stroke="#111111"
                          stroke-width="1.5"
                        />
                      </svg>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                      class="carousel-control-next"
                      type="button"
                      data-bs-target="#carouselSimilarProduct"
                      data-bs-slide="next"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="25"
                        height="24"
                        viewBox="0 0 25 24"
                        fill="none"
                      >
                        <path
                          d="M8.97412 18.966L15.9401 12L8.97412 5.03296"
                          stroke="#111111"
                          stroke-width="1.5"
                        />
                      </svg>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="product-grid__item">
                        <div class="product-grid__top">
                          <img
                            src="/assets/images/wall/product-grid/arai chairs.png"
                            alt=""
                            class="product-grid__img"
                          />
                        </div>
                        <div class="product-grid__content">
                          <div class="product-grid__info">
                            <div class="product-grid__isNew">New product</div>
                            <div class="product-grid__name">Arai Chairs</div>
                            <div class="product-grid__desc">
                              White fur, black steel legs
                            </div>
                            <div class="product-grid__color_count">
                              1 Colour
                            </div>
                          </div>
                          <div class="product-grid__price_wrapper">
                            <div class="product-grid__price">
                              Price:
                              <span>1.009.000</span>
                            </div>
                            <div class="product-grid__discount"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="product-grid__item">
                        <div class="product-grid__top">
                          <img
                            src="https://images.unsplash.com/photo-1503602642458-232111445657?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fHw%3D"
                            alt=""
                            class="product-grid__img"
                          />
                        </div>
                        <div class="product-grid__content">
                          <div class="product-grid__info">
                            <div class="product-grid__isNew">New product</div>
                            <div class="product-grid__name">Basil Chairs</div>
                            <div class="product-grid__desc">
                              White fur, black steel legs
                            </div>
                            <div class="product-grid__color_count">
                              1 Colour
                            </div>
                          </div>
                          <div class="product-grid__price_wrapper">
                            <div class="product-grid__price">
                              Price:
                              <span>1.009.000</span>
                            </div>
                            <div class="product-grid__discount"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="product-grid__item">
                        <div class="product-grid__top">
                          <img
                            src="/assets/images/wall/product-grid/table Ikea.png"
                            alt=""
                            class="product-grid__img"
                          />
                        </div>
                        <div class="product-grid__content">
                          <div class="product-grid__info">
                            <div class="product-grid__isNew"></div>
                            <div class="product-grid__name">Table Ikea</div>
                            <div class="product-grid__desc">
                              White fur, black steel legs Lorem ipsum dolor sit
                              amet consectetur adipisicing elit. Praesentium
                              quae facere eum provident ducimus recusandae
                              tempora architecto.
                            </div>
                            <div class="product-grid__color_count">
                              1 Colour
                            </div>
                          </div>
                          <div class="product-grid__price_wrapper">
                            <div class="product-grid__price">
                              Price:
                              <span>1.009.000</span>
                            </div>
                            <div class="product-grid__discount">
                              <span>5</span>
                              % Off
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="product-grid__item">
                        <div class="product-grid__top">
                          <img
                            src="/assets/images/wall/product-grid/mesa table.png"
                            alt=""
                            class="product-grid__img"
                          />
                        </div>
                        <div class="product-grid__content">
                          <div class="product-grid__info">
                            <div class="product-grid__isNew"></div>
                            <div class="product-grid__name">Table Ikea</div>
                            <div class="product-grid__desc">
                              White fur, black steel legs
                            </div>
                            <div class="product-grid__color_count">
                              1 Colour
                            </div>
                          </div>
                          <div class="product-grid__price_wrapper">
                            <div class="product-grid__price">
                              Price:
                              <span>1.009.000</span>
                            </div>
                            <div class="product-grid__discount">
                              <span>5</span>
                              % Off
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="product-grid__item">
                        <div class="product-grid__top">
                          <img
                            src="/assets/images/wall/product-grid/tablebrown.png"
                            alt=""
                            class="product-grid__img"
                          />
                        </div>
                        <div class="product-grid__content">
                          <div class="product-grid__info">
                            <div class="product-grid__isNew"></div>
                            <div class="product-grid__name">Table Ikea</div>
                            <div class="product-grid__desc">
                              White fur, black steel legs
                            </div>
                            <div class="product-grid__color_count">
                              1 Colour
                            </div>
                          </div>
                          <div class="product-grid__price_wrapper">
                            <div class="product-grid__price">
                              Price:
                              <span>1.009.000</span>
                            </div>
                            <div class="product-grid__discount">
                              <span>5</span>
                              % Off
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="product-grid__item">
                        <div class="product-grid__top">
                          <img
                            src="/assets/images/wall/product-grid/lampwhite.png"
                            alt=""
                            class="product-grid__img"
                          />
                        </div>
                        <div class="product-grid__content">
                          <div class="product-grid__info">
                            <div class="product-grid__isNew"></div>
                            <div class="product-grid__name">Table Ikea</div>
                            <div class="product-grid__desc">
                              White fur, black steel legs
                            </div>
                            <div class="product-grid__color_count">
                              1 Colour
                            </div>
                          </div>
                          <div class="product-grid__price_wrapper">
                            <div class="product-grid__price">
                              Price:
                              <span>1.009.000</span>
                            </div>
                            <div class="product-grid__discount">
                              <span>5</span>
                              % Off
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/assets/js/productDetail.js"></script>
    <script src="/common/user/header.js"></script>
  </body>
</html>
