.cart {
  margin-top: 2rem;
}
.cart-header h1 {
  margin-bottom: 5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.cart-row {
  width: 100%;
  display: inline-block;
}
.cart-line-item {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.cart-line-item::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #e5e5e5;
  width: 100%;
  bottom: 0;
  margin-top: 2rem;
}
.cart-titleLeft {
  width: 60%;
  display: flex;
}
.cart-item-img {
  width: 9.6rem;
  min-width: 9.6rem;
  position: relative;
}
.cart-item-link {
  width: 100%;
  padding-bottom: 100%;
  display: inline-block;
  position: absolute;
}
.cart-item-link img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  max-height: 100%;
}
.cart-info {
  padding-left: 2.3rem;
}
.cart-info-title {
  padding-bottom: 0.5rem;
}
.cart-info-color span {
  padding-left: 1.5rem;
}
.cart-info-button {
  padding-bottom: 1rem;
}
.cart-info-button:hover {
  opacity: 0.7;
}
.cart-info-favorite {
  padding-right: 1.5rem;
}
.cart .product-quantity {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.cart-total-sm {
  display: none;
}

.summary-order {
  padding-left: 5.5rem;
  padding-right: 3rem;
  margin: 0 auto;
}
.summary-title {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 3rem;
}
.summary-action {
  padding-top: 2rem;
}
.summary-btn {
  margin-bottom: 2.5rem;
}
.summary-btn a:hover {
  color: white;
}
.summary-total-value {
  font-size: 2rem;
  font-weight: 500;
}
.summary-divider {
  margin-top: 3rem;
  color: #757575;
}
.summary-backhome {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
.summary-backhome:hover {
  opacity: 0.8;
}
.summary-backhome a:hover {
  color: #111;
  text-decoration: underline;
  font-size: 1.6rem;
}

.product-quantity {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}
.product-quantity__title {
  padding-bottom: 1rem;
}
.product-quantity__group {
  display: flex;
  gap: 6px;
}
.product-quantity__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.1rem;
  height: 2.1rem;
  border-radius: 3px;
  background-color: black;
  cursor: pointer;
  user-select: none;
}
.product-quantity__button.btn-minus span {
  padding-bottom: 2.5px;
}
.product-quantity__input {
  width: 2.7rem;
  height: 2.1rem;
  outline: none;
  border: none;
  text-align: center;
}

@media screen and (min-width: 1600px) {
  .cart-item-img {
    width: 33%;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1599px) {
  .cart-item-img {
    width: 37%;
  }
}
@media screen and (min-width: 1200px) {
  .w-xl-85 {
    width: 85%;
  }
  .cart-header h1 {
    margin-bottom: 5rem;
  }
}
@media only screen and (min-width: 768px) {
  .cart-line-item {
    padding: 2rem 0;
  }
  .cart-item-img {
    width: 17rem;
  }
  .summary-order {
    padding-top: 2rem;
  }
}
@media only screen and (max-width: 767px) {
  .product-quantity__container {
    display: flex;
    gap: 2rem;
  }
  .cart-line-item {
    padding: 2rem 0;
  }
  .cart-item-img {
    width: 14rem;
  }
  .cart-titleLeft {
    width: 70%;
  }
  .cart .product-quantity {
    padding-bottom: 1rem;
  }
  .summary-order {
    padding-top: 2rem;
  }
}
@media screen and (max-width: 576px) {
  .cart-total {
    display: none;
  }
  .cart-total-sm {
    display: block;
  }
  .cart-line-item {
    padding-bottom: 1rem;
  }
  .btn-base {
    width: 21rem;
  }
  .summary-action {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=bag.css.map */
