$primary-color: white;
$black-text: #111;
$gray-text: #757575;
$gray-1: #f5f5f5;
$gray-2: #e5e5e5;
$gray-3:#8d8d8d;
$new-text: #9e3500;
$accent-text: #ff5000;
$discoount-text: #38b524;
$default-font: "Be Vietnam Pro", sans-serif;
$selection: #a174ff;