$primary-color: white;
$black-text: #111;
$gray-text: #757575;
$gray-1: #f5f5f5;
$gray-2: #e5e5e5;
$new-text: #9e3500;
$accent-text: #ff5000;
$discount-text: #38b524;
$default-font: "Be Vietnam Pro", sans-serif;

@mixin object-fit($object-fit) {
    width: 100%;
    height: 100%;
    object-fit: $object-fit;
}
.cart {
    margin-top: 2rem;
    &-header {
        & h1 {
            margin-bottom: 5rem;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    &-row {
        width: 100%;
        display: inline-block;
    }
    &-line-item {
        display: flex;
        justify-content: space-between;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            height: 1px;
            background-color: $gray-2;
            width: 100%;
            bottom: 0;
            margin-top: 2rem;
        }
    }
    &-titleLeft {
        width: 60%;
        display: flex;
    }
    &-item {
        &-img {
            width: 9.6rem;
            min-width: 9.6rem;
            position: relative;
        }
        &-link {
            width: 100%;
            padding-bottom: 100%;
            display: inline-block;
            position: absolute;
            & img {
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
                max-height: 100%;
            }
        }
    }
    &-info {
        padding-left: 2.3rem;
        &-title {
            padding-bottom: 0.5rem;
        }
        &-color {
            span {
                padding-left: 1.5rem;
            }
        }
        &-button {
            padding-bottom: 1rem;
            &:hover {
                opacity: 0.7;
            }
        }
        &-favorite {
            padding-right: 1.5rem;
        }
    }
    & .product-quantity {
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    &-total{
        &-sm{
            display: none;
        }
    }
}
.summary {
    &-order {
        padding-left: 5.5rem;
        padding-right: 3rem;
        margin: 0 auto;
    }
    &-title {
        font-size: 2rem;
        font-weight: 500;
        padding-bottom: 3rem;
    }
    &-action {
        padding-top: 2rem;
    }
    &-btn {
        margin-bottom: 2.5rem;
        & a:hover {
            color: white;
        }
    }
    &-total-value {
        font-size: 2rem;
        font-weight: 500;
    }
    &-divider {
        margin-top: 3rem;
        color: $gray-text;
    }
    &-backhome {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
        & a:hover {
            color: $black-text;
            text-decoration: underline;
            font-size: 1.6rem;
        }
    }
}
.product {
    &-quantity {
        padding-top: 1.5rem;
        padding-bottom: 3rem;
        &__title {
            padding-bottom: 1rem;
        }
        &__group {
            display: flex;
            gap: 6px;
        }
        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3.1rem;
            height: 2.1rem;
            border-radius: 3px;
            background-color: black;
            cursor: pointer;
            user-select: none;
            &.btn-minus {
                & span {
                    padding-bottom: 2.5px;
                }
            }
        }
        &__input {
            width: 2.7rem;
            height: 2.1rem;
            outline: none;
            border: none;
            text-align: center;
        }
    }
}
@media screen and (min-width: 1600px) {
    .cart {
        &-item {
            &-img {
                width: 33%;
            }
        }
    }
}
@media screen and (min-width: 1400px) and (max-width: 1599px) {
    .cart {
        &-item {
            &-img {
                width: 37%;
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    .w-xl-85 {
        width: 85%;
    }
    .cart {
        &-header {
            & h1 {
                margin-bottom: 5rem;
            }
        }
    }
}
@media only screen and (min-width: 768px) {
    .cart {
        &-line-item {
            padding: 2rem 0;
        }
        &-item {
            &-img {
                width: 17rem;
            }
        }
    }
    .summary {
        &-order {
            padding-top: 2rem;
        }
    }
}
@media only screen and (max-width: 767px) {
    .product {
        &-quantity {
            &__container {
                display: flex;
                gap: 2rem;
            }
        }
    }
    .cart {
        &-line-item {
            padding: 2rem 0;
        }
        &-item {
            &-img {
                width: 14rem;
            }
        }
        &-titleLeft{
            width: 70%;
        }
        & .product-quantity{
            padding-bottom: 1rem;
        }
    }
    .summary{
        &-order{
            padding-top: 2rem;
        }
    }
}
@media screen and (max-width:576px) {
    .cart{
        &-total{
            display: none;
            &-sm{
                display: block;
            }
        }
        &-line-item{
            padding-bottom: 1rem;
        }
    }
    .btn-base{
        width: 21rem;
    }
    .summary{
        &-action{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
