$primary-color: white;
$black-text: #111;
$gray-text: #757575;
$gray-1: #f5f5f5;
$gray-2: #e5e5e5;
$new-text: #9e3500;
$accent-text: #ff5000;
$discount-text: #38b524;
$default-font: "Be Vietnam Pro", sans-serif;

@mixin object-fit($object-fit) {
    width: 100%;
    height: 100%;
    object-fit: $object-fit;
}
.content-wrapper{
    margin-top: 6rem;
}
.login {
    width: 100%;
    padding: 2rem 5rem 5rem;
    background: $primary-color;
    display: flex;
    justify-content: center;
    &-container{
        display: none;
        &.active{
            display: block;
        }
    }
    &-top {
        user-select: none;
        margin-bottom: 2rem;
    }
    &-brand{
        margin: 0 auto;
        max-width: 20rem;
        width: 100%;
        &__title{
            font-size: 2rem;
            font-weight: 700;
        }
    }
    &-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__group {
            width: 33rem;
            margin-bottom: 1.5rem;
            position: relative;
        }
        &__item {
            &:first-child {
                margin-bottom: 1.5rem;
            }
        }
        &__label {
            font-size: 1.5rem;
            display: inline-block;
            margin-bottom: 1rem;
            cursor: pointer;
        }
        &__input {
            font-size: 1.5rem;
            font-family: $default-font;
            font-weight: 400;
            color: $black-text;
            display: block;
            width: 100%;
            padding: 1.5rem 4rem 1.5rem 2.5rem;
            border-radius: 4px;
            border: 1px solid $gray-2;
            letter-spacing: 1px;
            &:hover{
                border: 1px solid $gray-text;
            }
            &:focus{
                border: 1px solid $black-text;
            }
        }
        &__password {
            position: relative;
            .icon-eye {
                width: 3rem;
                height: 3rem;
                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
            }
        }
        &__reset {
            position: absolute;
            right: 0;
            cursor: pointer;
            span a {
                font-size: 1.5rem;
                color: $black-text;
            }
            &:hover {
                text-decoration: underline;
            }
        }
        &__submit {
            margin-top: 4.5rem;
            transform: translateX(10%);
        }
        &__register {
            display: block;
            text-align: center;
            margin-top: 1rem;
            a {
                color: $black-text;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &-social {
        width: 33rem;
        display: inline-flex;
        padding: 1rem 2.5rem;
        border-radius: 4px;
        border: 1px solid $gray-2;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
        gap: 15px;
        font-size: 18px;
        &:hover {
            border: 1px solid $gray-text;
        }
       
    }
    &-divider {
        width: 33rem;
        padding: 2.5rem 0;
        text-align: center;
        position: relative;
        &__text {
            display: inline-block;
            padding: 1rem;
            background-color: $primary-color;
            position: relative;
            z-index: 2;
        
        }
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba($gray-text, 0.2);
        }
    }
}
.signup {
    display: flex;
    &-container{
        display: none;
        &.active{
            display: block;
        }
    }
    &-wrapper {
        padding: 3rem 10rem;
        display: flex;
        justify-content: center;
        position: relative;
    }
    &-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__group{
            max-width: 33rem;
            width: 100%;
            margin-bottom: 1.5rem;
        }
        &__label{
            display: inline-block;
            margin-bottom: 1rem;
        }
        &__input{
            font-size: 1.5rem;
            font-family: $default-font;
            font-weight: 400;
            color: $black-text;
            display: block;
            width: 100%;
            padding: 1.5rem 4rem 1.5rem 2.5rem;
            border-radius: 4px;
            border: 1px solid $gray-2;
            letter-spacing: 1px;
            &:hover{
                border: 1px solid $gray-text;
            }
            &:focus{
                border: 1px solid $black-text;
            }
        }
        &__submit{
            margin-block: 3rem 1rem;
        }
        &__register{
            margin-bottom: 3rem;
            span a{
                color: $black-text;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    &-top {
        max-width: 33rem;
        width: 100%;
        margin: 0 auto;
        &__title {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 2rem;
        }
        &__text{
            text-align: center;
        }
    }
}
