  <div
      id="demo"
      class="carousel slide carousel-fade wrapper px-2"
      style="max-width: 160rem"
      data-bs-ride="carousel"
    >
      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#demo"
          data-bs-slide-to="0"
          class="active"
        ></button>
        <button
          type="button"
          data-bs-target="#demo"
          data-bs-slide-to="1"
        ></button>
        <button
          type="button"
          data-bs-target="#demo"
          data-bs-slide-to="2"
        ></button>
        <button
          type="button"
          data-bs-target="#demo"
          data-bs-slide-to="3"
        ></button>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <img
            src="https://www.ikea.com/global/en/images/PH_194970_1_0365d5066a.jpg?f=g"
            alt=""
            class="d-block w-100"
          />
          <div class="carousel-caption">
            <p>Explore a colourful home</p>
            <h3 class="h-m">Thinking beyond the (storage) box</h3>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img
            src="/assets/images/home/adam-winger.jpg"
            alt=""
            class="d-block w-100"
          />
          <div class="carousel-caption">
            <p>Country living</p>
            <h3 class="h-m">A visit to Swedish farmhouse</h3>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img
            src="https://images.unsplash.com/photo-1606744888344-493238951221?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"
            alt=""
            class="d-block w-100"
          />
          <div class="carousel-caption">
            <p>Vintage is beautiful!!</p>
            <h3 class="h-m">Design dispatches straight from the heart</h3>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img
            src="https://images.unsplash.com/photo-1618221381711-42ca8ab6e908?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80"
            alt=""
            class="d-block w-100"
          />
          <div class="carousel-caption">
            <p>Livingroom in the future</p>
            <h3 class="h-m">Design dispatches straight from the heart</h3>
          </div>
        </div>
      </div>

      <!-- Left and right controls/icons -->
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#demo"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon btn-control"></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#demo"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon btn-control"></span>
      </button>
    </div>
    <!-- End Carousel -->

    <!-- Start shop now-->
    <div class="wrapper home">
      <section>
        <div class="col-12 shop">
          <h1 class="shop-title">MILIST</h1>
          <p class="shop-text">Beautify the world inside your home</p>
          <button class="btn-base btn-solid shop-btn">
            <a href="index.html" class="text-white">Shop now</a>
          </button>
        </div>
      </section>
      <!-- End shop now-->

      <!-- Start Grid image -->
      <section class="section-top">
        <div class="grid-container">
          <img
            src="/images/home/Low+Chair+Gropius.jpg"
            alt=""
            class="obj-cover"
          />
          <img src="/images/home/lamp.jpeg" alt="" class="obj-cover" />
          <img
            src="/images/home/chair-with-book.png"
            alt=""
            class="obj-cover"
          />
        </div>
      </section>
      <!-- End Grid image -->

      <!-- Start video vintage -->
      <section class="section-video">
        <div class="row">
          <div class="col-12 sol-sm-12 col-lg-12 portrait-col-1">
            <div class="image-wrapper video-wrapper">
              <video
                src="https://www.ikea.com/global/en/images/nytillverkadstart_36b1f93d51.mp4"
                id="video-nytillverkad"
                preload="auto"
                playsinline
                autoplay
                muted
                loop
              ></video>
              <div class="overlay">
                <div class="overlay-caption">
                  <p class="fw-5">Nytillverkad collection</p>
                  <h1 class="fw-6 h-m">
                    Vintage designs from our archive, back again!
                  </h1>
                </div>
              </div>
              <button id="toggleBtn" class="overlay-btn">
                <i class="fa-solid fa-pause toggle-icon"></i>
              </button>
            </div>
          </div>
        </div>
      </section>
      <!-- End video vintage -->

      <!-- Start col-2 -->
      <section>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 portrait-col-2">
            <div class="image-wrapper">
              <img
                src="https://www.ikea.com/global/en/images/Cecilia_Home_visit2_36040_3cf31c6015_0aca2b62b8.jpg?f=sg"
                alt=""
              />
              <div class="overlay">
                <div class="overlay-caption">
                  <p class="fw-5">Family apartment in Sweden</p>
                  <h1 class="fw-6 h-m">Package with personality</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 portrait-col-2">
            <div class="image-wrapper">
              <img
                src="https://www.ikea.com/global/en/images/HFRD_SUSTA_COLLAB_IKEA_and_Daren_Todd_portrait03_2c23d0f154.jpg?f=sg"
                alt=""
              />
              <div class="overlay">
                <div class="overlay-caption">
                  <p class="fw-5">Designed wi th artist Daren Todd</p>
                  <h1 class="fw-6 h-m">A smart smal place</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End col-2 -->

      <!-- Start col-1 -->
      <section>
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="drop-wrapper drop-container">
              <div class="drop-image-container">
                <img
                  src="https://www.ikea.com/global/en/images/FROSET_8aab389a69.jpg?f=xl"
                  alt=""
                />
              </div>
              <div class="content-container">
                <p class="fw-5 text-white mb-3 subtitle">
                  You don't know too much about us?
                </p>
                <h1
                  class="h-m text-white"
                  style="max-width: 9ch; line-height: 1.2"
                >
                  Let's see
                  <a href="#" class="text-white">The Milist catalog! </a>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End col-1 -->

      <!-- Start flashback -->
      <section class="flashback">
        <div class="row">
          <div class="col-12 col-sm-12">
            <div class="flashback-container">
              <div class="flashback-content">
                <p class="text-white subtitle">The 1973 MILIST catalogue</p>
                <h1 style="max-width: 8ch" class="h-m text-white title">
                  Design flasback
                </h1>
              </div>
              <div class="flashback-video">
                <div class="flashback-video-holder">
                  <div class="flashback-video-container video-wrapper">
                    <video
                      src="https://www.ikea.com/global/en/images/catalogueflip_1_e6a7d7ebe9_413192f911.mp4"
                      loop
                      playsinline
                      preload="auto"
                      autoplay
                      muted
                      class="video-fulwidth"
                    ></video>
                    <button
                      id="toggleBtn"
                      class="overlay-btn"
                      style="background-color: black; right: 2rem"
                    >
                      <i class="fa-solid fa-pause toggle-icon text-white"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End flashback -->

      <!-- Start worldwide -->
      <section>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 portrait-col-2">
            <div class="image-wrapper">
              <img
                src="https://www.ikea.com/global/en/images/japan_poster3_25_f73a263dda_5180172527_4d9f9f6567.jpg?f=sg"
                alt=""
              />
              <div class="overlay overlay-transparent">
                <div class="overlay-caption">
                  <p class="fw-5">MILIST around the world</p>
                  <h1 class="fw-6 h-m">Big in Japan</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 portrait-col-2">
            <div class="image-wrapper">
              <img
                src="https://www.ikea.com/global/en/images/portugal_poster_6771f4b936.png?f=sg"
                alt=""
              />
              <div class="overlay overlay-transparent">
                <div class="overlay-caption">
                  <p class="fw-5 text-dark">MILIST around the world</p>
                  <h1 class="fw-6 h-m text-dark">Olá, Portugal!</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End worldwide -->

      <!-- Start col-1 -->
      <section>
        <div class="row">
          <div class="col-12 col-md-12">
            <div
              class="drop-wrapper drop-container"
              style="background-color: #17814c"
            >
              <div class="drop-image-container">
                <img
                  src="https://images.unsplash.com/photo-1567016546367-c27a0d56712e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
                  alt=""
                  style="object-position: center right"
                />
              </div>
              <div class="content-container">
                <p class="fw-5 text-white mb-3 subtitle">
                  Say hej and yum to...
                </p>
                <h1 class="h-m text-white" style="max-width: 10ch">
                  <a href="#" class="text-white"
                    >Our new plant-based vision!
                  </a>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End col-1 -->

      <!-- Start col-2 -->
      <section>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 portrait-col-2">
            <div class="image-wrapper">
              <img
                src="https://www.ikea.com/global/en/images/trashcollectionstartpage_154a5a9baf_6dd5eec31d.jpeg?f=sg"
                alt=""
              />
              <div class="overlay">
                <div class="overlay-caption">
                  <p class="fw-5">MILIST VietNam</p>
                  <h1 class="fw-6 h-m">The Vi Collection</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 portrait-col-2">
            <div class="image-wrapper">
              <img src="/assets/images/home/BESPOKE.png" alt="" />
              <div class="overlay">
                <div class="overlay-caption">
                  <p class="fw-5">Bespoke design</p>
                  <h1 class="fw-6 h-m">Custom furniture with bespoke</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End col-2 -->
    </div>
    <script src="/js/home.js"></script>